<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongnx.cloud.mall.admin.mapper.ArticleInfoMapper">

    <resultMap id="articleInfoMap" type="com.hongnx.cloud.mall.common.entity.ArticleInfo">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="enable" column="enable"/>
        <result property="picUrl" column="pic_url"/>
        <result property="categoryId" column="category_id"/>
        <result property="authorName" column="author_name"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleIntroduction" column="article_introduction"/>
        <result property="articleContent" column="article_content"/>
        <result property="originalUrl" column="original_url"/>
        <result property="isBanner" column="is_banner"/>
        <result property="isHot" column="is_hot"/>
    </resultMap>

</mapper>
