<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongnx.cloud.mall.admin.mapper.SeckillHallInfoMapper">

    <resultMap id="seckillHallInfoMap" type="com.hongnx.cloud.mall.common.entity.SeckillHallInfo">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createId" column="create_id"/>
        <result property="sort" column="sort"/>
        <result property="seckillHallId" column="seckill_hall_id"/>
        <result property="seckillInfoId" column="seckill_info_id"/>
    </resultMap>

    <sql id="seckillHallInfoSql">
        seckill_hall_info.`id`,        seckill_hall_info.`tenant_id`,        seckill_hall_info.`del_flag`,        seckill_hall_info.`create_time`,        seckill_hall_info.`update_time`,        seckill_hall_info.`create_id`,        seckill_hall_info.`sort`,        seckill_hall_info.`seckill_hall_id`,        seckill_hall_info.`seckill_info_id`    </sql>
</mapper>
